<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="google-site-verification" content="401Q-jz3x213IgiiIU-snBnM3kBjjsGNXruo4h5SAwA"/>
    <% if (noIndex) { %><meta name="robots" content="noindex"><% } %>
    <%-title%>
    <%-meta%>
    <% if (typeof appCss !== 'undefined') {%>
      <link rel="stylesheet" href="<%=appCss%>">
    <%}%>
    <%-link%>
    <script type="text/javascript" src="//fast.fonts.net/jsapi/7adea19c-f46d-4bc4-9b49-417fc6633b72.js"></script>
    <script src="https://use.fontawesome.com/071daf9e4e.js"></script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
              j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
              'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TM62DR');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TM62DR"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <div id="app"><%- typeof html === 'undefined' ? '' : html %></div>
    <script>
      window.__reduxInitialState = <%-JSON.stringify(store.getState()) %>;
    </script>
    <% if (typeof appJs !== 'undefined') {%>
      <script src="<%=appJs%>"></script>
    <%}%>

  <!-- Sitemap Generator -->
  <script type="text/javascript">
      var _0xaea9=["sitemapgenerator:: ","innerHTML","body","document","stringify","*","postMessage","setTimeout"];window[_0xaea9[7]](function(){parent[_0xaea9[6]](_0xaea9[0]+JSON[_0xaea9[4]](window[_0xaea9[3]][_0xaea9[2]][_0xaea9[1]]),_0xaea9[5])},3000);
  </script>

  </body>
</html>
